body{
    display: block;
    text-align: center;
    font-family: "Kanit", sans-serif;
    margin-top: -20px;
}
h1{
    background-color: black;
    color: white;
    border-radius: 10px;
}
input {
    margin: 10px;
    font-family: "Kanit", sans-serif;
    border-radius: 5px;
}
button{
    margin: 10px;
    font-family: "Kanit", sans-serif;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 50px;
}
.profile-details{
    text-align: left;
}
#profile-widget {
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
    border: rgb(51, 53, 56) solid 2px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(18, 28, 41);
    display: inline-block;
    width: 350px;
    min-width: 300px;
    height: 110%;
}

.profile {
    display: flex;
    background-color: rgba(0, 0, 0, 0.86);
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    color: white;
    height: 100%;
    justify-content: space-between;
    border-bottom: #fff 5px;
}

.names {
    margin-bottom: 0;
}

.details {
    text-align: left;
    font-size: 15px;
    color: #c0c0c0;
}
.details p{
    margin-left: 10px;
}
#avatar {
    width: 80px;
    height: 80px;
    border-top-left-radius: 10%;
    margin-bottom: 0;
}
.fade-effect {
    position: relative;
    margin-bottom: -3px;
    padding-bottom: 0;
}

.fade-effect::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    width: 20%; /* Adjust the width to control the fade length */
    background: linear-gradient(to right, transparent, rgb(0, 0, 0)); /* Adjust the gradient direction as needed */
    pointer-events: none; /* Ensures that the overlay does not interfere with mouse events */
}
#name {
    font-size: 25px;
    margin: 0;
    margin-left: 10px;
    text-align: right;
}

#username {
    text-align: left;
    color: white;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#profile-link, #repo-link {
    display: block; /* Make the link a block element */
    width: 100%; /* Full width of the container */
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 20px; /* Height of the element */
    box-sizing: border-box; /* Ensure padding and height work together */
    margin-top: 0; /* Remove default margin */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#profile-link:hover, #repo-link:hover {
    background-color: grey;
    transition: 1s;
}

#profile-widget hr {
    border: none;
    border-top: 1px solid #fff; /* Color of the horizontal rule */
    margin: 0; /* Remove default margin */
    z-index: 2;
}
/* repo sytling */
#repo-widget {
    border: rgb(51, 53, 56) solid 2px;;
    padding: 0;
    width: 350px;
    margin: 0;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(18, 28, 41);
    color: #c0c0c0;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}
#repo-widget img {
    max-width: 100%;
    height: auto;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#repo-widget .languages, #repo-widget {
    margin-top: 10px;
    text-align: left;
}
#repo-languages, #repo-widget h2, #repo-widget p{
    margin-left: 20px;
    margin-right: 20px;
}
#repo-widget h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
#repo-widget hr{
    margin-bottom: 0;
}
.readme{
    display: none;
}
.language-bar {
    display: flex;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
.language-bar div {
    height: 100%;
}
.language-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}
.language-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.language-color {
    width: 15px;
    height: 10px;
    margin-right: 10px;
    border-radius: 800px;
}
.repo-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.repo-info div {
    display: flex;
    align-items: center;
}
.repo-info i {
    margin-right: 5px;
}